.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/alnnex/image/upload/v1675958594/thesis/gradienta-pYDaWACPVZw-unsplash_sgn5ft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
